{% extends "base.html" %}
{% block title %}主机管理列表{% endblock %}
{% block breadcrunb %}
<h1>主机管理列表</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'users:index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">主机管理列表</li>
</ol>
{% endblock %}
{% block content %}
 <!-- 搜索栏 -->
     <div style="margin-bottom: 10px;height: 30px" class="row">
        <a style="float: left; margin-left: 1%" class="btn btn-sm btn-primary" id = "addbtn"> 添加服务器信息 </a>
        <form style="float: right;width: 20%;margin-right: 1%">
        <div  class="input-group">
            <input type="text" class="form-control" name="keyword"
                 placeholder="主机名或IP" value="{% if keyword %} {{ keyword }} {% endif %}">
            <div class="input-group-btn">
               <button type="submit" class="btn btn-sm btn-primary">搜索</button>
            </div>
        </div>
        </form>
     </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>id</th>
                <th>主机名</th>
                <th>内网ip</th>
                <th>cpu</th>
                <th>制造商</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.hostname }}</td>
                <td>{{ obj.private_ip }}</td>
                <td>{{ obj.cpu }}</td>
                <td>{{ obj.manufacturers }}</td>
                <td>{{ obj.create_time }}</td>
                <td>{{ obj.update_time }}</td>
                <td>
                    <button class="btn btn-danger del">删除</button>
                    <button type="button" class="btn btn-info" id = "modifyhost">修改</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="row">
  <div class="col-sm-6">
     <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
         显示 [{{ paginator.count }}] 条数据中的 第 [{{ page_obj.start_index}}] 至 [{{ page_obj.end_index }}] 的数据
     </div>
  </div>
{% include 'paginator.html' %}
</div><!-- /.paginator -->
{% endblock %}
{% block js %}
<script>
/*添加用户模态窗弹出*/
$("#modifyhost").click(function(){
    $("#user_add_modal").modal("show");
});

$("tbody").on('click','.del',function(){
    if(confirm("是否确认删除？")){
        let that = this;
        let id = $(this).attr('data-id');
        console.log(id);
        $.ajax({
            url:"",
            type: "DELETE",
            data: {"id":id},
            datatype: "json",
            success: function(res){
                console.log(res)
                if (res.code ==0){
                    swal({
                        "title": "删除服务器信息成功",
                         "text": res.result,
                         "type": "success"
                    }, function () {
                         setTimeout(function () {
                            window.location.reload();
                         }, 50);
                     })
                }else{
                    swal("操作失败", res.errmsg, "error")
                }
            }
        })

    }  // end confirm
     return false
})
</script>
{% endblock js %}